<div class="page">
    <div class="container">
        <div class="box-tabela">
            <div class="titulo-botao">
                <div class="titulo-minhas-transacoes">
                    <h1>Minhas transações</h1>
                </div>
                <button class="botao-nova-trasacao">
                    <p>Nova Transação</p>
                </button>
            </div>

            <div class="menu-botoes">
                <button class="bt-receita" type="radio" autocomplete="off" checked>Receita</button>
                <button class="bt-despesa" type="radio" autocomplete="off">Despesa</button>
                <button class="bt-agendado" type="radio" autocomplete="off">Agendado</button>
            </div>

            <table class="table">
               <tbody>
                    <tr>
                    <div class="imagem-relogio"></div>
                    <div class="data-descricao">
                            <div class="data">13/04/2024</div>
                            <div class="descricao">descrição</div>
                    </div> 
                    <div class="valor">3960,00</div>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="sidebar">
            <div class="container-sidebar">
                <div class="saldo-resultado">
                    <div class="saldo">
                        <p>Saldo Atual</p>
                        <p class="valor">R$860,00</p>
                    </div>

                    <div class="resultado">
                        <div class="seta">↓</div>
                        <div class="valor3">R$1860,00</div>

                        <div class="cifrao">$</div>
                        <div class="valor4">R$1000,00</div>
                    </div>
                </div>

                <div class="imagem-titulo">
                    <img src="./../../../assets/ImgExtrato/6c7ce0ec790187b76d07c99b10ee9c90.png">
                    <div class="precisa-ajuda">
                        <p>Precisa de ajuda <br/> com suas finanças?</p>
                    </div>
                </div>                
                <button class="botao-investimentos"> Dicas e Investimentos &#8599;</button>
            </div>
        </div>
    </div>
</div>
