<p>Conta Control Santander</p>

<form>
    <div class="mb-3">
      <label for="cadastroNome" class="form-label">Nome Completo</label>
      <input type="nome" class="form-control" id="cadastroNome">
    </div>
    <div class="mb-3">
        <label for="cadastroEmail" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="cadastroEmail">
      </div>
    <div class="mb-3">
      <label for="cadastroTel" class="form-label">Telefone</label>
      <input type="telefone" class="form-control" id="cadastroTel">
    </div>
    <div class="mb-3">
        <label for="cadastroSalario" class="form-label">Salário</label>
        <input type="salario" class="form-control" id="cadastroSalario">
      </div>

    <button type="cadastro" class="btn btn-primary">Finalizar Cadastro</button>
  </form>