<div class="page">
    
  <div class="container">
      
      <div class="anuncio">
          <H1 class="titulo">Conta Control Santander</H1>
          <P class="subtitulo">Use nossa calculadora de receitas e despesas e tenha mais autonomia em seu dia a dia.</P>
              <div class="logo1">
                  <img src="https://s3-alpha-sig.figma.com/img/f554/5e42/0a1e4ae63e89a889bbf48738a796ae88?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=EIko-nkj84KQa4IbRt-xHsMR3YVwQaENR8h~rC908hytnwwNUm2wPY0iBxuS3wtFm523WpQWKxShNvY4V3oCDfNmu1JQBqwDMa5RTO9kXOpCMeLDyZOOn-PWDK6z6L3kIzWrETl6BD-dZe-6G-7yFyw00ScwruIs2vp0Ase85hpkIqA3Xac8pew~-uxaWyyG5YTy9icyXQOoq9czfonqqrllSbpvhMczwaw5EXQFM5RS1hFfpLwT5kNvX0fUUoZNZMYojY~3wLn-3URAFfsn1~xIA86if~2gnQG22q1~urC8uYQnD9C-h28MtIbBspEB9TWUerYVCHPsEspHo-rQ3w__" alt="fotoSalaEstar" class="imagem1">
              </div>
      </div>

          <form class="formulario">
              <div class="mb-3">
                  <label for="cadastroNome" class="form-label">Nome Completo</label>
                  <input type="nome" class="form-control" id="cadastroNome" placeholder="Ana Botín">
              </div>
              <div class="mb-3">
                  <label for="cadastroEmail" class="form-label">E-mail</label>
                  <input type="email" autofocus class="form-control" id="cadastroEmail">
              </div>
              <div class="mb-3">
                  <label for="cadastroTel" class="form-label">Telefone</label>
                  <input type="telefone" class="form-control" id="cadastroTe=l" placeholder="(xx) 99999-9999">
              </div>
              <div class="mb-3">
                  <label for="cadastroSalario" class="form-label">Salário</label>
                  <input type="salario" class="form-control" id="cadastroSalario" placeholder="Insira seu salário aqui">
              </div>
                  <button class="botao">Finalizar Cadastro</button>
          </form>
  </div>
          <p class="rodape">2024 | Orgulhosamente construído por "Olá Mundo!"</p>

</div>