<div class="container">
  <div class="cabecalho">
    <div class="dicas">
      <h1>Dicas e Investimentos</h1>
      <p>Saiba como administrar melhor o seu dinheiro e fazer investimentos certeiros com o seu perfil. </p>
    </div>
    <div class="ajuda">
      <p>Precisa de ajuda?</p>
      <button>Solicitar Consulta</button>
    </div>
  </div>
  <div class="orientacao">
    <div>Dicas
      <div style="background-color: red; width: 436px; height: 4px"></div>
    </div>
    <div>Investimentos
      <div style="background-color: rgb(158, 157, 157); width: 436px; height: 4px"></div>
    </div>

  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 16rem; height: auto;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem; height: auto;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 16rem; height: auto;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>