
<div class="container">
    <form #transacao="ngForm" (ngSubmit)="adicionarTransacao(transacao.value)">
        <a href="/extrato" class="bt-voltar">&larr; Voltar</a>
        <h1>Nova Transação</h1>
            <label for="tipo" class="mb-3">Tipo</label>
            <!-- novos -->
            <div  class="checkbox-botoes" role="group" aria-label="Basic radio toggle button group">
                
                <input  type="radio" class="btn-check btn-despesas" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label  class="btn btn-outline-primary btn-despesas" for="btnradio1">Despesas</label>
              
                <input type="radio" class="btn-check btn-receitas" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary btn-receitas" for="btnradio2">Receitas</label>
              </div>

        <!-- <div class="checkbox-botoes">
            <button class="bt-despesas" type="radio" autocomplete="off" data-bs-toggle="button" checked>Despesa</button>
            <button class="bt-receitas" type="radio" autocomplete="off">Receita</button>
        </div> -->
        <div class="mb-3">
            <label for="descricao" class="form-label">Tipo da Despesa/Receita</label>
            <input type="text" class="form-control" id="descricao" placeholder="Compras Drogasil">
        </div>
        <div class="mb-3">
            <label for="valor" class="form-label">Valor</label>
            <input type="text" class="form-control" id="valor" placeholder="R$ 100,00" inputmode="decimal" prefix="R$ " mask="separator.2" thousandSeparator=".">
        </div>
        <div class="mb-3">
            <label for="data" class="form-label">Data</label>
            <input type="date" class="form-control" id="data">
        </div>
        <label for="categoria" class="mb-3">Categoria</label>
        <div class="categoria">
            <button class="bt-categoria" type="radio" autocomplete="off" name="cat-btn"checked><img src="./../../../assets/imagens/icon-saude.png">Saúde</button>
            <button class="bt-categoria" type="radio" autocomplete="off" name="cat-btn"><img src="./../../../assets/imagens/icon-lazer.png">Lazer</button>
            <button class="bt-categoria" type="radio" autocomplete="off" name="cat-btn"><img src="./../../../assets/imagens/icon-alimentacao.png">Alimentação</button>
            <button class="bt-categoria" type="radio" autocomplete="off" name="cat-btn"><img src="./../../../assets/imagens/icon-roupas.png">Roupas</button>
            <button class="bt-categoria" type="radio" autocomplete="off" name="cat-btn"><img src="./../../../assets/imagens/icon-moradia.png">Moradia</button>
            <button class="bt-categoria" type="radio" autocomplete="off" name="cat-btn"><img src="./../../../assets/imagens/icon-outros.png">Outros</button>
        </div>
        <div class="botoes">
            <button class="botao-adicionar" type="submit">Adicionar</button>
            <button class="botao-cancelar" routerLink="/extrato">Cancelar</button>
        </div>
    </form>
    <img src="https://s3-alpha-sig.figma.com/img/0409/a2f0/cd372e4a87264bf1b4bcd0356009df47?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=iB5FsIIVqM-llkvEHQxhvO5PhxQxNlQXUkHogcV6pVGZAJi4xP80tTnErNb1sdU~06BNPUtuiq2g6tUw6-h78kSbu9kbOkGx~U02fPeS3Sp47TflMbyoJnF~17fXGCe0ID4~IDkX~qiMZPnqDtGG18qfyFZUj55zj2xxH~lJJAnLtzEF1IlWg428Fwy-1rIWuhFUw4JBYqLeMLSP47-0ezrW3qKWsbmmx5Qt151I0glmENrB7FHbMaqQcfXxjR6ad3NMjS1jRg0VgNu5hxWUaJ0l7syh6Awh0iOKja1LXDIf9Y52I4wgwJv2k419bZQhqnzS-RVPfuFKsP-b~NdZXg__" alt="">
</div>
